/**************** PRINCIPAL *******************/
/*IMPORT TYPO*/
@font-face{
  font-family: 'Dyno Regular';
  src: url('../font/Dyno Regular.ttf');
}

@font-face{
  font-family: 'Cicle Gordita';
  src: url('../font/Cicle Gordita.ttf');
}

body{
  font-family:  'Cicle Gordita' !important;
  overflow-x: hidden;
  background-color: #333333;
  color:white;
}
h1{
  font-family: 'Dyno Regular'!important;
}
h3{
  font-family: 'Dyno Regular'!important;
}
h6{
  font-family: 'Dyno Regular'!important;
}
/*************** FIN PRINCIPAL ****************/

/****************** NAV BAR *******************/
.navbar{
  background-color: #ea5c0d;
  height: 60px;
}
.navbar button{
  margin-right: 18px;
}
.collapse{ 
  text-align: center;
  background-color: #ea5c0d;
  width: 100%;
  margin-top: -8px;
}
.navbar-brand{
  margin-left: 2%;
  color: white !important;
  font-size: 150% !important;
}
.navbar-brand:hover{
  opacity: 0.6;
}
.dropdown-menu li{
  text-align: center;
}
.navbar a{
  color:white;
}
.navbar a img{
  width: 40px;
}
.dropdown-menu{
  background-color:#b94503;
}
#logoMCN{
  margin-top: -8px;
  width: 200px;
  height: auto;
}

#langue{
  position: fixed;
  z-index: 9999;
  right: 0;
  margin-top: 5px;
}
#langue img{
  height: 22px;
  margin-left: 40%;
}
#langue img:hover{
  opacity: 0.4;
}
#navBarre{
  height: 38px;
}

/**************** FIN NAV BAR *****************/

.texte{
  font-size: 20px;
}

#resume{
  margin-top: 8%;
}

#teamPeda{
  text-align: center;
}
.photo{
  width: 80%;
  margin-top: 30px;
}
h6{
  color: #f7af3e;
  margin-top: 10px;
}
.linkedin{
  margin-top: 10px;
  height: 50px;
}

.trait{
  margin-top: 5%;
  height: 10px;
  width: 100%;
  background-color:#b94503;
}


#home{
  margin-top: 20px;
  margin-bottom: -30px;
}
.fond {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-bottom: 30px;
}

.carousel-indicators li{
  height: 5px;
}

/******************** CONTACT ******************/
#contact{
  margin-top: 5%;
}

#contact img {
  width: 100%;
  height: auto;
}

#partenaire img{
  height: 200px;
  width: auto;
}

#submit{
	margin-top: 10px;
	background-color: #ea5c0d;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	color: white;
}
#submit:hover{
	background-color: green;
}

footer{
  background-color: #ea5c0d;
}
